/* import styles */
@import url("https://use.typekit.net/xnk0ijq.css");

/* defaults */
body, html, p {
  font-family: "antarctican-mono", monospace, sans-serif;
  font-style: normal;
  color: #2a2a2a;
  line-height: 1.5rem;
}

a {
  color: #1451eb;
  text-decoration: none
}

a:hover {
  text-decoration: none;
  color: #1451eb;
  font-style: italic;
}

@media (max-width: 700px) {
  body, html, p {
    font-size: .9rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: .7rem;
  }

  h2 {
    font-size: .88rem!important;
  }

  .mtx-1 {
    margin-top: 1rem;
  }

  .container-width {
    max-width: 100%;
  }

  .mini {
    font-size: .75rem!important;
  }
}

h3, h4, h5, h7 {
  font-family: "antarctican-mono", monospace, sans-serif;
  color: #2a2a2a;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
}

h7 {
  text-transform: lowercase;
  font-weight: 600;
  font-size: 1.25rem;
}

h2 {
  font-size: 1.35rem;
}

button {
  background-color: #207747;
  color: #fffff;
  width: 250px;
  padding: .5rem;
  border-radius: 10rem;
}

button a {
  color: #ffffff;
}

button a:hover {
  font-style: normal;
}

/* custom classes */
.footer-text {
  font-size: .8rem;
}

.logo,
logo img {
  max-width: 300px;
}

.mini {
  font-size: .85rem;
  font-style: italic;
}

/* margins and container width */
.mb {
  margin-bottom: 5rem;
}

.mtx-1 {
  margin-top: 3.5rem;
}

.container-width {
  max-width: 80%;
}

.about-image {
  width: 250px;
}
