/* import styles */
@import url("https://use.typekit.net/xnk0ijq.css");

/* defaults */
body, html, p {
  font-family: "antarctican-mono", monospace, sans-serif;
  font-style: normal;
  color: #2a2a2a;
}

a {
  color: #3e574e;
  text-decoration: none
}

a:hover {
  text-decoration: none;
  color: #3e574e;
  font-style: italic;
}

@media (max-width: 576px) {
  body, html, p {
    font-size: .9rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4, h6 {
    font-size: 1.15rem;
  }

  h5 {
    font-size: 1rem;
  }

  .mtx-1 {
    margin-top: 1rem;
  }

}

h3, h4, h5 {
  font-family: "antarctican-mono", sans-serif;
  color: #2a2a2a;
}

h6 {
  font-size: 1.25rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
}

/* custom classes */
.footer-text {
  font-size: .8rem;
}

.logo {
  width: 450px;
}

.mini {
  font-size: .85rem;
  font-style: italic;
}

.mb {
  margin-bottom: 5rem;
}

.mtx-1 {
  margin-top: 5rem;
}
